body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color:black;
}

/* target the box thats holding all of the children  */

li {
  list-style-type: none;
}
